html {
  font-size: 10px; /* base font-size */
}
body {
  padding: 0;
  margin: 2rem;
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
